:root{
    --font-size: calc(1.64 * var(--vw));
    --container-padding: 8.8vw;
    --vw: calc(100vw - 2 * var(--container-padding)) / 100;
    --line-height: 1.5em;
    --bs-gutter-x: 1.5rem;
}

.heading{
    font-size: max(36px,3.54*var(--font-size));
    line-height: 1.05em;
    font-weight: 700;
}

.content{
    line-height: var(--line-height);
    font-size: max(18px,1.54*var(--font-size));
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
}