
.bigHeader {
  font-size: 60px;
  line-height: 1.1;
  font-family: "Crimson Text SemiBold 600";
  color: white;
}
@media screen and (max-width: 768px) {
  .bigHeader {
    font-size: 40px;
  }
}

@media screen and (max-width: 426px) {
  .button {
    font-size: medium;
  }
}
