.card {
  color: white !important;
  overflow: hidden;
  /* border: #00001a;
  border-style: solid; */
}
.bigHeader {
  font-size: 30px;
  line-height: 1.05;
  font-family: "Crimson Text SemiBold 600";
  color: #222223;
}
/* .button {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  padding: 9px 17px;
  white-space: normal;
} */

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .bigHeader {
    font-size: 30px;
  }
}

@media screen and (max-width: 426px) {
  .image {
    height: auto;
  }
  .button {
    font-size: medium;
  }
  .bigHeader {
    font-size: 25px;
  }
}
