.mainblock {
  display: flex;
  flex-direction: row;
  gap: 0px;

  background-color: cadetblue;
  height: fit-content;
  width:100%;
  margin: 0;
}
.mainblock img {
  width: 600px;
  height: 300px;
  padding: 0;
  margin: 0;
  z-index: -100;
}
.mainblock .image {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}

.mainblock button{
  height:50px;
  background-color: white;
  border: none;
  border-radius: 3px;
  color:cadetblue;
  font-size: 17px;
  font-weight: 600;
}

.mainblock button:hover{
  background-color: rgb(228, 215, 215);
}

.mainblock .triangle{
  width: 40px;
  height: 40px;
  background: conic-gradient(at 50% 50%, transparent 90deg, red 0, red 225deg, transparent 0);
}

.mainblock .content{
  display:flex;
  flex-direction: column;
  align-items: left;
  margin:50px;
}