.card {
  background: linear-gradient(to top, #474749 0%, #222223 100%);
  padding: 24px;
  width: calc(100%-18px);
}
.image{
  display: none;
}
.bigHeader {
  color: #fff;
    letter-spacing: .07em;
    margin: 0.2em;
    font-size: 2em;
    padding-top: 0.2em;
  font-family: "Crimson Text SemiBold 600";
}
.text{
  color: #fff;
  padding-bottom: 1em;
  margin: auto 0;
  letter-spacing: .07em;
}
.content{
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.button {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  padding: 9px 17px;
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .bigHeader {
    font-size: 30px;
  }
}

@media screen and (max-width: 426px) {
  .button {
    font-size: medium;
  }
  .bigHeader {
    font-size: 30px;
  }
}
@media screen and (min-width: 900px) {
  .image {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    height: 100%;
    width: 15%;
    display: initial;
  }
  .card {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: space-between;
    min-height: 100px;
    margin: 1px;
    width: calc(100% - 48px);
  }
}
